---
layout: default
style: post
script: post
---

<style>
header {
    background-image:url("{{site.url}}/assets/img/{{page.cover}}");
    background-size:cover;
}
</style>

        <div class="col-md-10 col-md-offset-1 col-xs-12 posts-holder">
            <article>
            <header>
                  <h1>{{page.title}}</h1>
            </header>
            <div class="content">
        <span class="meta">
            {{ page.date | date: "%B %e, %Y" }}. Posted by {{site.owner}}
          </span>
            {{ content }}
</div>
</article>
        </div>
