<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="rohit mulange, geekman">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>Geekman's Blog</title>
    <link rel="icon" href="{{site.url}}/assets/logo1.png" type="image/png" />
    <link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/syntax.css">
    <link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/main.css">
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92160433-1', 'auto');
  ga('send', 'pageview');

</script>
    <script src="{{site.url}}/assets/js/jquery.min.js"></script>
    <script src="{{site.url}}/assets/js/jquery-scrollspy.js"></script>
    <script type='text/javascript'>

    $(document).ready(function() {
            $('header').scrollspy({
                max: 160,
                onEnter: function(element, position) {

                    $('.main').removeClass('mini');
                },
                onLeave: function(element, position) {

                    $('.main').addClass('mini');
                }
            });
            $('.main-line').height($('.posts').height()+100)
        });
</script>

</head>

<body>
<div class="main">
    <header>

        <div class="dummy"></div>
        <div class="dummy secondary"></div>
        <h1>Geekman's Blog</h1>
        <div class="secondary-heading">

            <div class="dummy"></div>
            <div class="dummy secondary"></div>
            <h1>Geekman's Blog</h1>
        </div>
    </header>
    <div class="main-line"></div>
    <div class="nav">
        <ul class="main-nav">

            <li><a href="{{site.url}}/">Home</a></li>
            <li><a href="{{site.url}}/archives">Archive</a></li>
            <li><a href="{{site.url}}/categories">Categories</a></li>
            <li><a href="{{site.url}}/about.html">About</a></li>
            

        </ul>
    </div>
    <div class="posts">
        {{ content }}
    </div>
</div>
</body>
</html>
