---
layout: default
style: main
script: main
---

<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3  posts-holder">

    <div class="post-list">

    {{content}}



</div>
</div>


        <div class="col-sm-12 col-md-3 col-xs-12 sidebar sidebar-right sidebar-hued sidebar-light">

                <div class="featured">
                    <div class="featured-item">
                        <h3>
                            <span class="icon"><i class="fa fa-heart"></i>
                            </span> Regal Blog Template
                        </h3>

                        <ul class="features-list">
                            <li>
                             This blog uses the Regal Template
                            </li>

                            <li>
                                Regal is Responsive and mobile friendly. It is still in development phase.
                            </li>
                            <li>
                                Built with <strong>LESS</strong> css. Regal is Open Source and Free.
                            </li>

                        </ul>
                    </div>

                        <div class="featured-item">
                        <h3>
                            <span class="icon"><i class="fa fa-star"></i>
                            </span> Other Projects
                        </h3>

                        <ul class="features-list">
                            <li>
                                <strong>Merlin</strong>, a javascript jabber client!
                            </li>
                            <li>
                                <strong>Kiki</strong>, its a notes taking app I just started working on. I'm excited about it!
                            </li>

                        </ul>
                    </div>

                    <div class="featured-item">
                        <ul class="features-list">
                        <li>
                        <span class="icon"><i class="fa fa-at"></i>
                            <a href="mailto:rohit@rohit.codes">rohit@rohit.codes</a>
                        </span>
                        </li>
                        <li>
                            Or visit me on <a href="http://www.rohit.codes">www.rohit.codes</a>
                        </li>

                    </ul>

                </div>



                </div>


        </div>
